name: tf-checks
on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:
jobs:
  tf-checks-peering:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@2.0.0
    with:
      working_directory: './examples/peering-zone'

  tf-checks-private:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@2.0.0
    with:
      working_directory: './examples/private-zone'

  tf-checks-public:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-checks.yml@2.0.0
    with:
      working_directory: './examples/public-zone'
